- campaign.craft.group_by{|g| g.craft_type}.each do |type, crafts|
  %h4= type
  - sort_by = "updated_at reverse"
  - reverse_order = sort_by.include?('reverse')
  - crafts = crafts.sort_by{|c| c.send(sort_by.sub("reverse", "").strip)}
  - crafts.reverse! if reverse_order
  - crafts.each do |craft|
    - craft.crafts_campaign = campaign
    .craft
      .name= link_to(craft.name, craft_path(craft))
      .clear
      .git_info
        - changed = craft.is_changed?
        -if changed.nil?
          = "new"
        -else
          = changed ? "untracked changes" : "tracked"

      .history
        Number of versions:
        = craft.history_count
