
-unless campaign.blank?
  - new_and_changed = campaign.new_and_changed
  - current_project = campaign.last_changed_craft(new_and_changed)

  #content_for_campaign_saves
    - saves = campaign.save_history
    .grid_8.alpha
      %h3 Saves
    .clear
    .grid_6.alpha
      #quicksave_display
        - saves = campaign.save_history
        .left.label= "Quicksaves |"
        .left= link_to_function "Persistent", "toggle_save_display()"
        .clear
        -unless saves[:quicksave].empty?
          - latest = saves[:quicksave].first
          - saves[:quicksave][0..4].each_with_index do |qsave, index|
            .small.small
              .left= qsave.date.to_formatted_s(:short)
              .left.with_margin= "#{time_ago_in_words(qsave.date)} ago"
              .right
                - unless index.eql?(0)
                  = link_to("restore", edit_save_path(:id => campaign.id, :sha_id => qsave.to_s, :save_type => :quicksave), :remote => true)
                -else
                  current quicksave
              .clear
      #persistent_display.hidden
        .left= link_to_function "Quicksaves", "toggle_save_display()"
        .left.label= "| Persistent"
        .clear
        - unless saves[:persistent].empty?
          - latest = saves[:persistent].first
          - saves[:persistent][0..4].each_with_index do |qsave, index|
            .small.small
              .left= qsave.date.to_formatted_s(:short)
              .left.with_margin= "#{time_ago_in_words(qsave.date)} ago"
              .right
                - unless index.eql?(0)
                  = link_to("restore", edit_save_path(:id => campaign.id, :sha_id => qsave.to_s, :save_type => :persistent ), :remote => true)
                -else
                  current persistent file
              .clear


  - unless current_project.nil?
    #content_for_current_project.hidden
      %h3 Current Project
      .craft
        .name= link_to(current_project.name, craft_path(current_project))
        .clear
        -if new_and_changed[:new].include?("Ships/#{current_project.craft_type.upcase}/#{current_project.name}.craft")
          = "new"
        -else
          - changed = new_and_changed[:changed].include?("Ships/#{current_project.craft_type.upcase}/#{current_project.name}.craft")
          .left
            .left= "Number of versions: #{current_project.history_count}"
            .left.with_margin.small.aligned
              -if changed
                .untracked= " + untracked recent changes"
              -else
                = "(No new changes)"

          - if changed
            .left.with_margin
              = form_for(current_project, :remote => true) do |f|
                = hidden_field_tag :force_commit, true
                = f.submit "Commit (save) Now!"

          .clear
          - version = current_project.history_count
          - version ||= 1
          - current_project_history = current_project.history
          //- unless version.eql?(1)
          .left Revert to Previous Version:
          .left.with_margin
            - n = changed ? 0 : 1
            - recent_history = current_project_history[n..(n+2)]
            - version += 1 if changed
            - unless recent_history.nil?
              - recent_history.each_with_index do |prev_version, index|
                = link_to "V#{version -= 1}", :controller => "crafts", :action => "edit", :id => current_project.id, :sha_id => prev_version.sha, :return_to => :campaign
                -unless prev_version == recent_history.last
                  |
          .left
            - if current_project_history.size > 4
              |
              = link_to "more", craft_path(current_project)
            = "|" unless current_project_history.size.eql?(1) && !changed
            = link_to_function "info", "show_current_project_help(#{current_project_history.size})"
          .clear
          .message
            - commit = current_project_history.first
            - if commit

              - commit = "most_recent" if changed
              - message = current_project.commit_messages[commit.to_s]
              - message ||= commit.message unless changed

              -if changed && current_project.commit_messages[commit.to_s].blank?
                %h4
                  %a{:onclick => "change_message(this, '#{message}', #{current_project.id}, '#{commit.to_s}')", :href => '#'}
                    Click to Add Notes:
              -else
                .message_text{:onclick => "change_message(this, '#{message}', #{current_project.id}, '#{commit.to_s}')"}
                  - message.split("<br>").each do |m|
                    .small= m
                  .small.label= "click text to edit"
              .message_form{:id => "message_form_for_#{commit.to_s}", :class => (changed ? "with_untracked_changes" : "")}



  .clear
  - campaign.craft.group_by{|g| g.craft_type}.sort.reverse.each do |type, crafts|
    %div{:id => "content_for_#{type}_list"}
      - sort_by = "updated_at reverse"
      - reverse_order = sort_by.include?('reverse')
      - crafts = crafts.sort_by{|c| c.send(sort_by.sub("reverse", "").strip)}
      - crafts.reverse! if reverse_order
      - crafts.each do |craft|
        - next if craft.eql?(current_project)
        - craft.crafts_campaign = campaign
        .craft_container{:class => (craft.deleted? ? 'deleted_craft' : '')}
          .craft
            .name= truncated_link_to craft.name, craft_path(craft), :truncate => 50
            .clear
            .git_info
              - unless craft.deleted?
                -if new_and_changed[:new].include?("Ships/#{craft.craft_type.upcase}/#{craft.name}.craft")
                  = "new"
                -else
                  - changed = new_and_changed[:changed].include?("Ships/#{craft.craft_type.upcase}/#{craft.name}.craft")
                  = changed ? "untracked changes" : "tracked"

              -else
                deleted
            .history
              Number of versions:
              = craft.history_count
