
- new_and_changed = campaign.new_and_changed_keys
- campaign.craft.group_by{|g| g.craft_type}.each do |type, crafts|
  %h4= type
  - sort_by = "updated_at reverse"
  - reverse_order = sort_by.include?('reverse')
  - crafts = crafts.sort_by{|c| c.send(sort_by.sub("reverse", "").strip)}
  - crafts.reverse! if reverse_order
  - crafts.each do |craft|
    - craft.crafts_campaign = campaign
    .craft
      .name= link_to(craft.name, craft_path(craft))
      .clear
      .git_info
        -if new_and_changed[:new].include?("Ships/#{craft.craft_type.upcase}/#{craft.name}.craft")
          = "new"
        -else
          - changed = new_and_changed[:changed].include?("Ships/#{craft.craft_type.upcase}/#{craft.name}.craft")
          = changed ? "untracked changes" : "tracked"

      .history
        Number of versions:
        = craft.history_count
