- craft ||= nil
- subs ||= nil

- unless craft.nil? && subs.nil?
  - if craft.empty? && subs.blank?
    Nah, nadda.
    
  - else
    .result_count.hidden
      - results = [craft, subs].flatten.compact.sort_by{|r| r.name}
      -if craft.blank? && !subs.blank?
        = "#{results.count} subassembl#{results.count.eql?(1) ? 'y' : 'ies'} found"
      -else
        = "#{results.count} #{subs.blank? ? 'craft' : 'craft and subassembles'} found"

    - results.each do |c|
      .craft_result
        .lhs
          .name
            =link_to c.name, craft_path(c), :title => "goto craft page"
          -if c.deleted?
            .del_inf= "deleted"
          
        .location
          .right
            -if !craft.blank? && subs.blank?
              in  
            -else
              = "#{c.class.to_s.downcase} in"
              
            = link_to c.campaign.name, campaign_path(c.campaign), :title => "goto campaign page"
          .clear
          .path= c.campaign.instance.path

-else
  .result_count.hidden    
  
  Type something, silly
  .small= "If you really want me to list ALL of your craft, enter either *.* or *all"
        
