
-if @craft
  - version = @craft.history_count
  = "#{@craft.name} has #{version} versions"
  .clear
  -if @craft.is_changed?
    .left
      .untracked Plus Untracked changes
    .left.with_margin
      = form_for(@craft, :remote => true) do |f|
        = hidden_field_tag :force_commit, true
        = f.submit "Commit (save) Now!"
  .clear
  .craft_history
    - history.each do |commit|
      .craft_info
        .craft_details
          .version= "V#{1 + (version -= 1)}"
          .value
            .hidden.sha_id= commit.sha
          .date= commit.date.to_formatted_s(:short)
          .restore_link
            - unless commit == history.first && !@craft.is_changed?
              = link_to "Restore", :controller => "crafts", :action => "edit", :id => @craft, :sha_id => commit.sha
            -else
              Current Version

        .message
          .small{:onclick => "change_message(this, '#{commit.message}', #{@craft.id}, '#{commit.to_s}')"}
            = commit.message
          .message_form{:id => "message_form_for_#{commit.to_s}"}
