#craft_edit
  .grid_8.push_2

    - if @sha_id
      %h2= "Revert #{@craft.name} to Version #{@revert_to_version}?"
      .restore_details
        %h4
          .css_table
            .label Commit ID
            .value= "#{@sha_id}"
          .css_table
            .label Created on
            .value= "#{@commit.date.to_formatted_s(:short)}"
        .vblk_1
        - if @craft.is_changed?
          %h3 !!This craft has untracked changes!!
          .info= "You can revert to version (#{@revert_to_version}) but your untracked changes will be lost forever!"
          .info
            .small= "If you want to track the changes before doing this revert, hit cancel and then hit the 'commit (save) now' button.  Your current changes will then be kept (as version #{@craft.history_count + 1}) and you can then revert to version #{@revert_to_version}"
        -else
          .info= "Reverting this craft will return it how it was at version #{@revert_to_version}."
          .info= "The current version (#{@craft.history_count}) will be kept, so you can always come back to it later."
          .commit_revert_info.hidden
            .vblk_1
            .info= "If you choose this option the reverted craft will automatically be commited, resulting in a new version (#{@craft.history_count + 1})."


      %h3= "Please confirm that you want to revert this craft to version #{@revert_to_version}"
      .restore_form
        = form_tag(:back, :method => :get) do
          = submit_tag "Cancel"
        = form_for(@craft) do |f|
          = hidden_field_tag :sha_id, @sha_id
          = hidden_field_tag :revert_craft, true
          = hidden_field_tag :return_to, @return_to
          = f.submit "Revert"
          .with_margin{:title => "automatically commit the reverted craft as a new version"}
            = label_tag :commit_revert, "commit revert"
            = check_box_tag :commit_revert, true, false



:javascript
  $(function(){
    $('#commit_revert').prop('checked', false)
    $('#commit_revert').bind('click', function(){
      if($(this).prop('checked')==true){
        $('.commit_revert_info').show('fast');
      }else{
        $('.commit_revert_info').hide('fast');
      };
    });
  });
