var div = "#message_form_for_#{@commit.to_s}"
$(div).html("#{j render :partial => 'crafts/message_form', :locals =>  {:craft => @craft, :commit => @commit} }");

$('.message_form').dialog();
$('.message_form').dialog( "close" );

$(div).dialog({ height: 'auto', width: 600 });


$(div).find('#message').focus();
var v = $(div).find('#message').val();
$(div).find('#message').val("Go Jeb Go");
$(div).find('#message').val(v);

- commit = @commit.message if @commit.respond_to?("message")
update_message(div, "#{@craft.id}", "#{@commit.to_s}", "#{commit}");
