#craft_edit
  .grid_8.push_2

    - if @sha_id
      .help_for#craft_revert_unchanged_first_view
        %h3 Reverting a Craft
        %p
          .info= "When you revert a craft like this, that doesn't have untracked changes, the current version (in this case #{@current_version}) will be kept."

      .help_for#craft_revert_untracked_first_view
        %h3 Reverting a Craft (with untracked changes)
        %p
          .info= "When you revert a craft like this, that has untracked changes, the untracked changes will be lost."


      .help_for#craft_revert_untracked_current_commit_first_view
        %h3 Reverting a Craft (with untracked changes)
        %p
          .info= "When you revert a craft to the most recent version when it also has untracked changes, then the untracked changes will be lost."
          .info= "The craft file and version will return to #{@revert_to_version}."


      .help_for#craft_revert_page_common_first_view
        %p
          .info= "The craft <b>file</b> will be returned to how it was at the chosen version (#{@revert_to_version}).".html_safe
          .info= "The current version will remain as #{@current_version} but it will have untracked changes."
          .small= "The untracked changes are the edits to the .craft file to change it from v#{@current_version} to how it was at v#{@revert_to_version}."
        %p
          .small= "When you next launch (or manually commit) the craft, a new version (#{@current_version + 1}) with these changes will be created.  If you make edits before then, those changes will also be part of the next version."


        %p
          .info= "If you check the 'commit revert' option the untracked changes will be commited and a new version will be created straight away."
          .small="this is <b>not</b> recomended for normal use".html_safe
        %p
          %h3= "Just click Revert to go back to Version #{@revert_to_version}"
          %h4= "Then reload #{@craft.name} in KSP's #{@craft.craft_type.upcase}"

      .help_for#craft_revert_page_ending_first_view
        %p
          %h3= "Just click Revert to reset to your most recent commit"
          %h4= "Then reload #{@craft.name} in KSP's #{@craft.craft_type.upcase}"


      %h2= "Revert #{@craft.name} to Version #{@revert_to_version}?"
      .restore_details
        %h4
          .css_table
            .label Commit ID
            .value= "#{@sha_id}"
          .css_table
            .label Created on
            .value= "#{@commit.date.to_formatted_s(:short)}"
        .vblk_1
        - if @is_changed
          %h3 !!This craft has untracked changes!!
          -if @commit.to_s.eql?(@latest_commit.to_s)
            .info= "Reverting this craft will remove the untracked changes and return it to the most recent version (#{@revert_to_version})."
            .small= "The craft will be returned to version #{@revert_to_version} and there will be no untracked changes"
          -else
            .info= "You can revert to version #{@revert_to_version} but your untracked changes will be lost forever!"
            .small= "The craft file will be returned to how it was at version #{@revert_to_version}, but the craft version will remain as #{@craft.history_count} plus untracked changes until you either launch it or hit save which will create version #{@craft.history_count + 1} "

          .info
            .vblk_1
            .small
              = "If you want to track the changes before doing this revert, hit cancel and then hit the 'commit (save) now' button.  Your current changes will then be kept (as version #{@craft.history_count + 1}) and you can then revert to version #{@revert_to_version}"

        -else
          .info= "Reverting this craft will return it how it was at version #{@revert_to_version}."
          .info= "The current version (#{@craft.history_count}) will be kept, so you can always come back to it later."

        .commit_revert_info.hidden
          .vblk_1
          .info= "If you choose this option the reverted craft will automatically be commited, resulting in a new version (#{@craft.history_count + 1})."

      .vblk_1
      %h3= "Please confirm that you want to revert this craft to version #{@revert_to_version}"
      .restore_form
        = form_tag(:back, :method => :get) do
          = submit_tag "Cancel"
        = form_for(@craft) do |f|
          = hidden_field_tag :sha_id, @sha_id
          = hidden_field_tag :revert_craft, true
          = hidden_field_tag :return_to, @return_to
          = f.submit "Revert"
          - unless @commit.to_s.eql?(@latest_commit.to_s)
            .with_margin{:title => "automatically commit the reverted craft as a new version"}
              = label_tag :commit_revert, "commit revert"
              = check_box_tag :commit_revert, true, false
        .right= link_to_function "Help", "", :id => "revert_page_help_link"

      - help_type_1 = ["craft_revert_unchanged_first_view", "craft_revert_page_common_first_view", ""]
      - help_type_2 = ["craft_revert_untracked_first_view", "craft_revert_page_common_first_view", ""]
      - help_type_3 = ["craft_revert_untracked_current_commit_first_view", "craft_revert_page_ending_first_view"]

      :javascript
        show_help('craft_revert_page_intro_first_view');
      -if !@is_changed
        - help_type = help_type_1
        - auto_show = system.show_help_for?('craft_revert_unchanged')
      -if @is_changed && !@commit.to_s.eql?(@latest_commit.to_s)
        - help_type = help_type_2
        - auto_show = system.show_help_for?('craft_revert_untracked')
      -if @is_changed && @commit.to_s.eql?(@latest_commit.to_s)
        - help_type = help_type_3
        - auto_show = system.show_help_for?('craft_revert_untracked_current_commit')

      - help_type.each do |help_doc|
        :javascript
          if("#{auto_show}" == "true"){
            show_help("#{help_doc}");
          }
          $('#revert_page_help_link').bind("click", function(){show_help("#{help_doc}", {always_show: true}) })






:javascript
  $(function(){
    $('#commit_revert').prop('checked', false)
    $('#commit_revert').bind('click', function(){
      if($(this).prop('checked')==true){
        $('.commit_revert_info').show('fast');
      }else{
        $('.commit_revert_info').hide('fast');
      };
    });
  });
