var div = "#message_form_for_#{@commit.to_s}"
$(div).html("#{j render :partial => 'crafts/message_form', :locals =>  {:craft => @craft, :commit => @commit} }");

$('.message_form').hide();

$(div).show();

update_message(div, "#{@craft.id}", "#{@commit.to_s}", "#{@commit.message}");
