#craft_page
  #nav-box
    =link_to "return to campaign", campaign_path(@craft.campaign)
  .grid_10
    = hidden_field_tag :craft_id, @craft.id
    %h1= @craft.name
    %h4= "in #{@craft.campaign.name}"


  .clear
  .vblk_2
  - unless @craft.deleted?
    .grid_10.push_1
      %h2
        = link_to_function "Move, Copy or Sync Craft", "move_copy_dialog()"
        |
        = link_to_function "Delete Craft", "delete_craft_dialog()"
      .vblk_1
      
      #move_copy_dialog.hidden
        = form_for(@craft, :url => move_craft_path(@craft)) do |f|
          = hidden_field_tag :move_copy, true
          = hidden_field_tag :selected_campaigns
          .info select another campaign(s) to move, copy or sync this craft to
          
          - instances = Instance.all
          #campaign_selector
            - instances.each do |instance| 
              .instance
                %h3{:title => File.split(instance.path).first}= File.split(instance.path).last
                .clear
                - instance.campaigns.each do |campaign|
                  - klass = ""
                  - klass << (campaign.eql?(@craft.campaign) ? " dont-select" : "")
                  - klass << (@sync_targets.include?(campaign) ? " selected_campaign" : "")
                  .campaign_holder{"data-campaign_id" => campaign.id, :class => klass}
                    .campaign
                      = campaign.name
                      .mini-flag
                        = image_tag("/flag_for_campaign_#{campaign.id}.png")
                    

          .hidden
            .small= "existing craft with the same name in the #{@craft.craft_type} of the selected campaign(s) will get replaced"
            .small= "(but don't worry, you're using GIT, you can always revert them!)"
            = f.submit "Move", :id => :move_submit, :class => "submit_button"
            = f.submit "Copy", :id => :copy_submit, :class => "submit_button"
            = f.submit "Sync", :id => :sync_submit, :class => "submit_button"

        =# javascript_tag "ajaxify_form('#edit_craft_#{@craft.id}')"    

      #delete_craft_dialog.hidden
        %h4= "That bad huh? How many died!?"
        = "Ok, well if you really want to delete this craft and try to block out the memories of all those poor Kerbals you killed building this, I will <b>delete the craft file!!</b> ".html_safe
        .small= "But this is git; once tracked, never forgotten.  You can always recover this craft later."
        .small= "(fyi, this also applies to craft that you delete in game or via your OS)"


        = link_to 'Destroy', craft_path(@craft), :method => :delete, :class => 'submit_button', :id => :delete_submit


      -if @parts.stock?
        %h4= "#{@craft.name} is 100% Stock"
      -else
        %h4= "#{@craft.name} uses #{@parts.mods.size} mod#{@parts.mods.size.eql?(1) ? '' : 's'};"
        = @parts.mods.sort.join(", ")

      .link= link_to_function "show parts", "$('.parts_list').is(':visible') ? $(this).html('show parts') : $(this).html('hide parts'); $('.parts_list').toggle('slow'); "

      .clear
      .parts_list
        - @part_for_list.each do |parts_group|
          .grid_5.alpha
            - parts_group.each do |part|
              - next if  part.nil?
              - mod = " #{part[1].first[:mod].sub('Squad', 'Stock')}" unless @parts.stock?
              - s = "#{part[1].count}#{mod} - #{part[0]}"
              .part
                %b= s
                .details
                  .info= link_to "#{part[1].first[:dir]}", {:action => :show, :controller => :crafts, :id => @craft.id, :open_part_folder => "#{part[1].first[:dir]}"}, :remote => true
                  .info= "#{part[1].first[:resources].join(', ')}"

      .clear
      .vblk_1

      -if @parts.missing?
        .missing_parts
          %h4= "#{@craft.name} is missing these parts"
          - @parts.missing.in_groups(3) do |group|
            .grid_3
              - group.each do |part|
                .small= part
        .clear
        .vblk_1
        .clear

      #history_list
        %h3 Version History
        Loading craft History
        .ajax_loader

    :javascript
      $(function(){craft_show_actions()});
                 

  -else
    .grid_6.push_3
      .restore_craft
        %h2 This Craft has been deleted!
        %h4 All is lost, will we ever see it again?
        %h4 Oh wait, just click Recover it!

        .restore_form
          = form_tag(:back, :method => :get) do
            = submit_tag "Cancel"
          = form_for(@craft) do |f|
            = hidden_field_tag :recover_deleted, true
            = f.submit "Recover It!"
