var div = "#{@holder}"
$('#message').remove();

$(div).html("#{j render :partial => 'messages/form', :locals =>  {:object => @object, :commit => @commit, :commit_messages => @commit_messages, :is_changed => @is_changed} }");

- if params[:save_type]
  var title = "Edit Commit message for #{params[:save_type]}"
-else
  var title = "Edit Commit message for #{@object.name.truncate(50)}"

$(div).dialog({ height: 'auto', width: 600, title: title }).on("keydown", function(evt){
if (evt.keyCode === $.ui.keyCode.ESCAPE) {
$('#message').unbind("blur")
$(this).dialog('close');
}
evt.stopPropagation()
});


$('#message').focus();
var v = $('#message').val();
$('#message').val("Go Jeb Go"); //this enables (for some reason) the cursor to be set at the end
$('#message').val(v);

- message = @commit.message if @commit.respond_to?("message")

update_message(div, "#{@object.id}", "#{@object.class}", "#{@commit.to_s}", "#{message}");
