
var div = "#{@holder}"
$('#message').remove();

$(div).html("#{j render :partial => 'messages/form', :locals =>  {:object => @object, :commit => @commit, :commit_messages => @commit_messages, :is_changed => @is_changed} }");
//$('.message_form').dialog();
//$('.message_form').dialog( "close" );

$(div).dialog({ height: 'auto', width: 600 });

$('#message').focus();
var v = $('#message').val();
$('#message').val("Go Jeb Go"); //this enables (for some reason) the cursor to be set at the end
$('#message').val(v);

- message = @commit.message if @commit.respond_to?("message")

update_message(div, "#{@object.id}", "#{@object.class}", "#{@commit.to_s}", "#{message}");
