#instance_page
  %h2= File.join(JSON.parse(@instance.full_path))
  = hidden_field_tag :instance_id, @instance.id
  #nav-box
    =link_to "return home", root_path

  = hidden_field_tag(:available_flags, @flags)

  -if system.show_help_for?("instance_page_for_#{@instance.id}")
    .help_for#instance_page_first_view.hidden
      %h3= "I've finished detecting campaigns and craft in this install (instance) of KSP"
      .info Click on a campaign to view its craft
      .vblk_1

  -if system.show_help_for?("updating_several_craft_#{@instance.id}")
    .help_for#updating_several_craft.hidden
      .vblk_1
      %h3 The System is now adding your craft to version control...
      .info The system is doing an initial scan of the saves folder for this install of KSP.
      .info This will add your existing craft to the repository and the database.
      .info If you have quite a few craft (100+) this may take a minute or two.
      .vblk_1
      .info It's best to just wait for this initial scan to complete before clicking on a campaign.
      .vblk_1


  #temp_holder

  #campaigns_list
    .loading
      .ajax_loader
      Loading Stuff....

:javascript
  $(function(){
    poll_for_updated_instance();
  });
