#instance_page
  %h2= File.join(JSON.parse(@instance.full_path))
  = hidden_field_tag :instance_id, @instance.id
  #nav-box
    =link_to "return home", root_path

  = hidden_field_tag(:available_flags, @flags)
  - content_for :title_bar do 
    = render "launch/instance", :instance => @instance

  -if system.show_help_for?("instance_page_for_#{@instance.id}")
    .help_for#instance_page_first_view.hidden
      %h3= "I've finished detecting campaigns and craft in this install of KSP"
      .info Click on a campaign to view its craft
      .info.small Craft may not yet have their part info available.  I will gradually work through your craft and scan them in the background.
      .info.small Craft that have been scanned will be color coded (blue for stock, green for modded).
      .info.small= "If you want me to scan all your craft right now, click the 'Re-scan parts and craft' link below."
      .vblk_1

  -if system.show_help_for?("updating_several_craft_#{@instance.id}")
    .help_for#updating_several_craft.hidden
      .vblk_1
      %h3 The System is now adding your craft to version control...
      .info The system is doing an initial scan of the saves folder for this install of KSP.
      .info This will add your existing craft to the repository and the database.
      .info If you have quite a few craft (100+) this may take a minute or two.
      .vblk_1
      .info It's best to just wait for this initial scan to complete before clicking on a campaign.
      .vblk_1
      
  - if @instance.part_update_required?
    #part_update_required_dialog.hidden
      = render "errors/part_update_required", :instance => @instance

          
  #temp_holder

  #campaigns_list
    .loading
      .ajax_loader
      Loading Stuff....
  .clear
  
  .grid_8.push_2.rescan_link.hidden.centered
    %h2= link_to "Re-scan parts and craft", edit_instance_path(:id => @instance.id, :rescan => true), :method => :get, :remote => true, :onclick => "rescanning_notification()"
    .small= "(click this if you have changed/updated your mods/parts)"
    
  #rescan_notify_dialog.hidden
    %h4= "The craft in this instance #{@instance.path} will have their parts re-scanned shortly"
    %h4= "During the rescan changes to craft and saves will not be tracked, but you can carry on playing KSP and using Jebretary"
    .right
      .vblk_1
      = button_to_function "OK", "$('#rescan_notify_dialog').dialog('close');"
      
     

:javascript
  $(function(){
    poll_for_updated_instance();
  });
  
  function rescanning_notification(){
    $('#rescan_notify_dialog').dialog({ height: 'auto', width: '800px', position: ["center", 100], title: "Part Info Rescan" })
  };
