#new_version_info
  #new_version_dialog
    -if release
      %h2 A shiny new version of Jebretary is out!!
      %h4= "Version #{@remote_version} is now available"
      .centered
        -if download_url 
          %h1= link_to "Download it from GitHub", download_url 
        -else
          %h1= link_to "View Releases on Github", "https://github.com/Sujimichi/Jebretary/releases", :target => '_blank'
      .small
        .info You'll need to shut me down, uninstall me (just nuke the folder I'm in) and then reinstall the new version.
        .info Once re-installed you'll need to tell me where your KSP installs are again, but don't worry all you craft and save history will still be there.
    -else
      %h3= "oh, this is embarrasing. I can't seem to get the new release info from github"
      %h4= "If you want to check and download it youself go to "
      = link_to "https://github.com/Sujimichi/Jebretary/releases", "https://github.com/Sujimichi/Jebretary/releases", :target => '_blank'
