#welcome
  .grid_12
    %h1= "Jebretary v#{@version}"
    (It's alpha, so may require struts)

    - unless @instances.empty?
      .instance_list
        %h2 Tracked Installs
        - @instances.each do |instance|
          .instance
            %a{:href => instance_path(instance)}
              = instance.path
              .small= "#{instance.campaigns.count} Campaigns"

    .clear
    - if @instances.empty?
      .vblk_2
      .grid_6.push_3
        %h3 Setup your first KSP instance
        (ie: tell me where KSP is installed)
        #new_instance
          = render('instances/form', :instance => Instance.new)
    -else
      .vblk_4
      .grid_6
        %h3 Setup another KSP instance
        (ie: tell me where a different version/copy of KSP is installed)
        #new_instance
          = render('instances/form', :instance => Instance.new)
