if("#{params[:commit_message]}"){

$('#edit_save_holder').html("#{j render :partial => 'saves/message_form', :locals => {:campaign => @campaign, :save_type => @save_type, :commit => @commit, :version => @version, :commit_messages => @commit_messages} }")
update_save_message('#edit_save_holder', "#{@campaign.id}", "#{@commit.to_s}", "#{@commit.message}")

}else{
if("#{params[:set_as_quicksave]}"){
$('#edit_save_holder').html("#{j render :partial => 'saves/replace_quicksave_with_persistent', :locals => {:campaign => @campaign, :save_type => @save_type, :commit => @commit, :version => @version} }")
}else{
$('#edit_save_holder').html("#{j render :partial => 'saves/revert_save', :locals => {:campaign => @campaign, :save_type => @save_type, :commit => @commit, :version => @version} }")
};

};
$('#edit_save_holder').dialog();
$('#edit_save_holder').dialog( "close" );
$('#edit_save_holder').dialog({ height: 'auto', width: 'auto' });
