#campaign_save_index
  #nav-box
    =link_to "back to campaign", campaign_path(@campaign)
  #edit_save_holder.hidden
  .grid_12
    %h2= "Saves for #{@campaign.name}"
    .small= "Note: this page does not auto update, whack f5 to reload it"
    .small= "touch screen users, tap a save in the list to show the restore link"

  - saves = @campaign.save_history
  - save_types = [:quicksave, :persistent]
  .clear
  .vblk_1
  .grid_12
    - save_types.each_with_index do |save_type, index|
      -unless saves[save_type].blank?
        - klass = 'grid_6 alpha'
        -# klass << " push_1" if index.eql?(1)
        .save_list{:class => klass}
          %h3= save_type
          - latest = saves[save_type].first
          - current_version = saves[save_type].size + 1
          - v = current_version 
          - saves[save_type].each_with_index do |qsave, index|
            .save{:onmouseover => "show_restore_link_for(this)"}
              - v = v -=1
              .left.label= "V#{v}"
              .left.with_margin= qsave.date.to_formatted_s(:short)
              .left.with_margin.small= "#{time_ago(qsave.date)} ago"
              .right
                - unless index.eql?(0)
                  .restore_link.hidden= link_to("restore to V#{v}", edit_save_path(:id => @campaign.id, :sha_id => qsave.to_s, :save_type => save_type, :versions_ago => (current_version-v-1)), :remote => true)
                -else
                  = "current #{save_type}"
                  -if save_type.eql?(:persistent)
                    .small= link_to("set as quicksave", edit_save_path(:id => @campaign.id, :sha_id => qsave.to_s, :save_type => save_type, :set_as_quicksave => true), :remote => true)
              .clear
              .left
                .small= qsave.message unless qsave.message.eql?("updated #{save_type}.sfs")
              .clear
      - else
        %h4= "Could not find a #{save_type}.sfs file"
