
- background_process ||= nil
- unless campaigns.blank? && background_process.nil?
  #process_notifier
    -unless background_process.nil?
      .left
        .small Updating data
        .small Please wait.....
      .ajax_loader

-if background_process && background_process.is_a?(Hash) && background_process.has_key?("campaigns")

  - background_process["campaigns"].each do |name, data|
    .campaigns_list
      .grid_5.push_1.campaign
        -if data["id"]
          %h3= link_to name, campaign_path(data["id"])
        -else
          %h3= name
        %a{:href => campaign_path(data["id"]), :class => 'flag_link'}
          .flag_for{:id => "flag_for_campaign_#{data['id']}"}
            = "<img src='/flag_for_campaign_#{data['id']}.png'>".html_safe

        .campaign_info
          = "#{data['total_craft']} Craft"
          -if data["creating_craft_objects"]
            .update_action= "updating database, please wait"
          -if data["added"] && (data["added"] != data['total_craft'])
            .update_action= "Verifying craft are in repository #{data['added']}/#{data['total_craft']}"

        .progress_bar{:id => "progress_bar_for_#{data['id']}", "data-max_value" => data['total_craft'], "data-cur_value" => data['added']}
        :javascript
          var bar = "#progress_bar_for_#{data['id']}"
          var max = $(bar).data("max_value")
          var cur = $(bar).data("cur_value")
          if(cur==max){$(bar).hide()};
          if(cur==0 || cur==undefined){$(bar).hide()};
          //$( bar ).progressbar({max: max, value: cur} );





-else
  -if campaigns.blank?

    .no_campaigns_message.grid_8.push_2
      %p
        No Campaigns Discovered in this install yet
        %br
        Please Wait while I discover them......

      %p If this messages remains for more than 10 seconds then either
      %ul
        %li
          You don't have any campaigns in this install
          .small (So go ahead and create one in the game)

        %li
          The background monitor is not running
          .small (make sure you have started jeb_watch.exe
          .small located in the same folder as this app)
    .clear
  -else
    - campaigns.each do |campaign|
      .campaigns_list
        .grid_5.push_1.campaign
          %h3= link_to campaign.name, campaign_path(campaign)
          %a{:href => campaign_path(campaign), :class => 'flag_link'}
            .flag_for{:id => "flag_for_campaign_#{campaign.id}"}
              = "<img src='/flag_for_campaign_#{campaign.id}.png'>".html_safe


          .campaign_info
            = "#{campaign.craft.where(:deleted => false).count} Craft"
