- background_process ||= nil

- unless campaigns.blank? && background_process.nil?
  #process_notifier
    -unless background_process.nil?
      .left
        .small Updating data
        .small Please wait.....
      .ajax_loader
      :javascript
        if(show_setup_poller_help_timer == undefined){
          show_setup_poller_help_timer = setTimeout(function(){show_help('updating_several_craft')},3000);
        };

    -else
      :javascript
        if(show_setup_poller_help_timer != undefined){clearTimeout(show_setup_poller_help_timer)};

-if background_process && background_process.is_a?(Hash) && background_process.has_key?("campaigns")

  - background_process["campaigns"].each do |name, data|
    :javascript
      if($("#campaign_container_for_#{data["id"]}").html() == undefined){
        $('#campaigns_list').append("#{j render :partial => 'campaigns/template', :locals => {:name => name, :id => data["id"]} }");
      };
      $("#campaign_container_for_#{data['id']}").find('.campaign_info').html("#{data['total_craft']} Craft")

    -if data["creating_craft_objects"]
      :javascript

        $("#campaign_container_for_#{data['id']}").find('.campaign_info').append("<div class='update_action'>Updating database, please wait</div>")

    -if data["added"] && (data["added"] != data['total_craft'])
      :javascript
        $("#campaign_container_for_#{data['id']}").find('.campaign_info').append("<div class='update_action'>Adding craft to version control #{data['added']}/#{data['total_craft']}</div>")



-else
  -if campaigns.blank? && background_process.nil?

    .no_campaigns_message.grid_8.push_2
      %p
        No Campaigns Discovered in this install yet
        %br
        Please Wait while I discover them......

      %p If this messages remains for more than 10 seconds then either
      %ul
        %li
          You don't have any campaigns in this install
          .small (Go ahead and create one in the game)

        %li
          The background monitor is not running
          .small (make sure you have started liquid.exe
          .small located in the same folder as this app)
    .clear
  -else
    - campaigns ||= []
    - campaigns.each do |campaign|
      :javascript
        if($("#campaign_container_for_#{campaign.id}").html() == undefined){
          $('#campaigns_list').append("#{j render :partial => 'campaigns/template', :locals => {:name => campaign.name, :id => campaign.id} }");
        };
        $("#campaign_container_for_#{campaign.id}").find('.campaign_info').html("#{campaign.craft.where(:deleted => false).count} Craft")
        $('.rescan_link').show();

    - if !campaigns.empty? && !campaigns.map{|c| c.should_process?}.any?
      :javascript
        show_help('instance_page_first_view');

