#standard_page
  %h1 All Campaigns
  .vblk_3
  .grid_8.push_2
    - @campaigns.group_by{|c| c.instance}.each do |instance, campaigns|
      %h2= instance.path
      - campaigns.each do |campaign|
        .campaign
          .left
            %h3= campaign.name
          .right
            = link_to "Show", campaign_path(campaign) if campaign.exists?
            = link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'This will remove the reference to this campaign and all its craft data.  (It will not effect your actual KSP install).  If the campaign still exists it will automatically be recreated here. Are you sure you want to delete this?' }

          .clear
          -unless campaign.exists?
            %h4= "This Campaign can not be found and is being ignored"
