#campaigns_page
  #nav-box
    =link_to "back", instance_path(@campaign.instance)
  -if @campaign.exists?

    -if system.show_help_for?('crafts_list_page')
      .help_for#craft_list_page_first_view.hidden
        %h3 This page lists the Craft in this Campaign
        %p
          .info As you play this Campaign of KSP, the craft you most recently edited or created will be shown at the top as the "Current Project".

        %p
          .info When you edit a craft and hit save in the VAB/SPH the Current Project and will show 'untracked recent changes'.
          .info When you launch the craft these untracked changes will be saved as the next version.
          .small You can also force a save by clicking the save button, otherwise versions will automatically be tracked at each launch.


      .help_for#craft_list_page_first_view_basic.hidden

        %p
          .info You can take the Current Project back to its 3 most recent versions (if available) by clicking on them (and you won't loose the current version).
          .info And you can also make notes about the current version.

        %p
          .info If you want to take the CurrentProject back to an earlier version, then click on its name.
          .info You can also click on the name of any other craft to see their full history or change their version.





    .grid_8.alpha
      .header
        %h2= @campaign.name
        .small= File.join(JSON.parse(@campaign.instance.full_path), 'saves', @campaign.name).inspect

      .grid_8.push_1.alpha
        #current_project

    .grid_4.omega
      .campaign_image
        =image_tag("/flag_for_campaign_#{@campaign.id}.png")

    = hidden_field_tag :campaign_id, @campaign.id
    = hidden_field_tag :show_deleted, false

    .clear
    .vblk_2

    .show_del_link_container
      .show_del_craft_marker
      = link_to_function "show deleted craft", "toggle_deleted_craft()", :class => 'toggle_deleted_craft_link'

    .clear
    .grid_5.push_1.hidden
      .building_icon= image_tag("icon_for_vab.jpg")
      #vab_list

    .grid_5.push_1.hidden
      .building_icon= image_tag("icon_for_sph.jpg")
      #sph_list

    #loading_holder
      Please wait...
      loading craft data
      .ajax_loader

    #campaigns_list.hidden


    :javascript

      $(function(){
        poll_for_updated_list();
      });
  - else
    .grid_8.push_2
      .vblk_4
      .header
        %h2= "The '#{@campaign.name}' Campaign folder cannot be found"
