#campaigns_page
  #nav-box
    =link_to "back", instance_path(@campaign.instance)
  .grid_8.alpha
    .header
      %h2= @campaign.name
      .small= File.join(JSON.parse(@campaign.instance.full_path), 'saves', @campaign.name).inspect

    .grid_8.push_1.alpha
      #current_project

  .grid_4.omega
    .campaign_image
      =image_tag("/flag_for_campaign_#{@campaign.id}.png")

  = hidden_field_tag :campaign_id, @campaign.id
  = hidden_field_tag :show_deleted, false

  #campaigns_list
    Please wait...
    loading craft data


  :javascript

    $(function(){
      poll_for_updated_list();
    });
