!!!
%html
  %head
  %title Jebretary
  = hidden_field_tag :rails_env, Rails.env
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  #header
    %a{:href => root_url}
      %h1{:class => 'main_site_title'}
        Jebretary

    - if @update_available
      .update_available{:title => "version #{@remote_version} is out! click for more info"}
        .action_link= link_to "New Version Available", new_version_info_path, :remote => true
        .loader_icon.hidden
          .small_ajax_loader

    .title_bar
      = content_for :title_bar
    
    .header_rhs
      #header_search_container.hidden
        .search_link= link_to_function "Search", "show_search()"

  %body
    #help_holder
    #dialog_holder
    #content
      #slidable_container
        #search_box
          .search_form
            = text_field_tag :global_search
            = link_to_function "search", "craft_search()"
            .clear
            .right
              .small
                = label_tag "include_subassemblies", "include Subassmeblies"
                = check_box_tag :include_subassemblies, false
          .clear
          #result_count
          #search_results


      #flash
        -unless notice.blank?
          #notice= notice
        -unless alert.blank?
          #alert= alert

      .clamp_holder
        #search_container
          .spacer
          .search_link= link_to_function "Search", "show_search()"

        .lhs_clamp
        .rhs_clamp
        .lhs_clamp_body
        .rhs_clamp_body
      =yield
  .clear
  
  #footer
    .left_image
    .right_image
    .footer_content
      %p Jebretary - A Persistent Git
      %p
        - address = Socket.ip_address_list[1].ip_address
        - port = request.port
        = "available on #{address}:#{port} on your local network"
  .author
    %p by Katateochi
  .clear
  #error_content
  
  -if @logged_errors 
    #logged_error_dialog.hidden
      = render "errors/notify"
